body{
    background: linear-gradient(145deg, #c0c2c5, #6f7478, #1c1e20);
    
    border-radius: 50%;
    width: 200;
    height: 200px;
}
.top
{
    color: ;
    height:40px;
}
.fundo
{
    background: #1fb1dd;
    border-radius: 50%;
    border:5px solid black;
    width: 500px;
    height: 500px;
}
.doze
{
margin-top: -500px; 
margin-left: 241px;
}
.onze
{
margin-top: 20px;
margin-left: 120px;
}
.dez{
margin-top: 70px; 
margin-left: 39px;
}
.nove
{
margin-top: 90px; 
margin-left: 10px;
}
.oito
{
margin-top: 90px; 
margin-left: 40px;
}
.sete
{
    margin-top: 70px; 
    margin-left: 115px;
}
.ceis
{
    margin-top: 25px; 
    margin-left: 246px;
}
.cinco
{
    margin-top: -66px; 
    margin-left: 390px;
}
.quatro
{
    margin-top: -101px; 
    margin-left: 455px;
}
.tres
{
    margin-top: -125px; 
margin-left: 485px;
}
.dois
{
    margin-top: -125px; 
    margin-left: 460px;
}
.um
{
    margin-top: -106px;
    margin-left: 385px;
}
.ponto
{
    font-size: 30px;
    margin-top: 168px;
    margin-left: 247px;
}
.min
{
    font-size: 30px;
    margin-left: 100px;
}
.seg
{

}