body
{
    background-color: cyan;
    
}
.title
{
    text-align: center;
}
.dev1
{
    display: flex;
    margin-left: 400px;
            
}
.dev2
{
    display: flex;
    margin-left: 400px;
            
}
.d2
{
    display: flex;
    margin-left: 400px;
            
}